@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Source+Sans+Pro:wght@600&display=swap");
.bg-brown {
  background-color: #60463b;
}

header {
  background-color: #60463b;
  height: 120px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;
}
header .navbar-brand {
  font-family: "Libre Baskerville", serif;
  font-size: 1.8rem;
  color: bisque;
  margin: 0;
  animation-name: titulo;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
header .navbar-brand:hover {
  color: #ccc9e7;
}
@keyframes titulo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@media (max-width: 440px) {
  header .headerNavbar {
    display: flex;
    justify-content: center;
  }
  header .headerNavbar .navbar-logo {
    display: none;
  }
  header .navbar > .container-fluid {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
  }
}
header .headerNavbar {
  padding: 0;
}
header .headerNavbar .navbar-nav .nav-item:hover {
  transform: scale(1.1, 1.1);
}
header .headerNavbar img {
  width: 90px;
}
header .headerNavbar ul li {
  font-size: 1.2rem;
}
header .headerNavbar ul li a {
  color: bisque;
}
header .headerNavbar ul li ahover {
  color: #ccc9e7;
}
header .headerNavbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 228, 196, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
header .nav-link:hover {
  color: bisque;
}
@media (max-width: 992px) {
  header .navbarExpanded .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

main {
  background-image: radial-gradient(ellipse 100% 100%, bisque, bisque, white);
  background-color: bisque;
  color: #2e3138;
}
main h3 {
  font-size: 1.4rem;
}
main .personas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .cardTitle a h2:hover {
  transform: scale(1.1, 1.1);
}
main .tituloServicios {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
main .tituloServicios:hover {
  transform: scale(1.1, 1.1);
  color: #ccc9e7;
}
main .tituloNosotros {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
main .tituloNosotros:hover {
  transform: scale(1.1, 1.1);
  color: #ccc9e7;
}
main .form-button:hover {
  transform: translateY(-3px);
}
main .form-button:active {
  transform: translateY(3px);
}
@media (max-width: 992px) {
  main h1 {
    font-size: 1.7rem;
  }
  main .cardTitle a h2 {
    font-size: 1.5rem;
  }
  main .secciones .sectionBody {
    font-size: 0.8rem;
  }
  main .secciones .sectionBody h2 {
    font-size: 1.4rem;
  }
}
main .carousel {
  animation-name: animacion;
  animation: fadeIn;
  animation-duration: 3s;
}
@keyframes animacion {}
main h1:hover {
  animation-name: animacion;
  animation: bounce;
  animation-duration: 1.5s;
}
main .card {
  border-radius: 10px;
}
main .card:hover {
  background-color: #2e3138;
  color: #ccc9e7;
}
main .personas:hover {
  transform: scale(1.01, 1.01);
}
main form fieldset {
  background-color: #2e3138;
  color: bisque;
}
main .secciones {
  color: bisque;
  box-shadow: 5px 9px 11px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
  background-color: #2e3138;
}
main .secciones p {
  text-align: justify;
}
main .secciones a:hover {
  color: #ccc9e7;
}
main .servicios {
  background-color: white;
  border-radius: 15px;
  padding: 40px;
}
main .servicios p {
  text-align: justify;
}
main .servicios:hover {
  background-color: #60463b;
  color: bisque;
}
main .brownBisque, main .cardTitle, main .equipo h2 {
  background-color: #60463b;
  color: bisque;
}
main .rebootMargin {
  margin: 0;
}
main .cardTitle a:hover {
  color: #ccc9e7;
}
main .products {
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}
main .products img {
  border-radius: 30px;
}
main .cards-wrapper {
  display: flex;
  justify-content: center;
}
main .card img {
  max-width: 100%;
  max-height: 100%;
}
main .card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
}
main .carousel-inner {
  padding: 1em;
}
main .carousel-control-prev,
main .carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
main .tituloSede {
  background-color: #2e3138;
  color: bisque;
}
@media (max-width: 992px) {
  main .carouselItem-index img {
    width: 100%;
    height: 100%;
  }
}
main .mision {
  background-color: #2e3138;
  color: bisque;
  width: 80%;
}
main .vision {
  background-color: #2e3138;
  color: bisque;
  width: 80%;
}
@media (min-width: 993px) and (max-width: 1668px) {
  main .carouselItem-index img {
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  main .carouselItem-sedes img {
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1669px) {
  main .carouselItem-index img {
    width: 70%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  main .carouselItem-sedes img {
    width: 40%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 993px) {
  main .mision {
    background-color: #2e3138;
    color: bisque;
    width: 40%;
  }
  main .vision {
    background-color: #2e3138;
    color: bisque;
    width: 40%;
  }
}
@media (min-width: 768px) and (max-width: 1164px) {
  main .body1 {
    padding-bottom: 1rem;
  }
  main .body2 {
    padding-top: 1rem;
  }
}
@media (min-width: 1123px) {
  main .sectionBody p {
    font-size: 1.1rem;
  }
  main .body2 {
    padding-top: 1rem;
  }
}
@media (min-width: 1350px) {
  main .sectionBody p {
    font-size: 1.3rem;
  }
}
@media (min-width: 1660px) {
  main .sectionBody p {
    font-size: 1.5rem;
  }
}
@media (min-width: 769px) and (max-width: 1400px) {
  main .card3 {
    display: none !important;
  }
  main .card6 {
    display: none !important;
  }
  main .card9 {
    display: none !important;
  }
  main .cards-wrapper-products {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  main .card1 {
    width: 40%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main .card2 {
    width: 40%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main .card4 {
    width: 40%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main .card5 {
    width: 40%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main .card7 {
    width: 40%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main .card8 {
    width: 40%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .imagenIndex {
    height: 100%;
  }
}
@media (min-width: 768px) {
  .imagenIndex {
    height: 20em;
  }
}
@media (min-width: 1669px) {
  .imagenIndex {
    height: 25em;
  }
}
.imagenProductos {
  height: 20em;
  width: 100%;
}
.imagenProductos img {
  border-radius: 9%;
}

footer {
  background-color: #60463b;
  color: bisque;
}
footer .footer h4:hover {
  color: #ccc9e7;
}
footer .footer h5:hover {
  color: #ccc9e7;
}
footer .footer i:hover {
  color: #ccc9e7;
}
footer .link:hover {
  transform: translate(10px, 0px);
  transform: scale(1.01, 1.01);
}
footer .footer {
  margin: 0;
  padding: 0;
}
footer .botonWhatsApp img {
  width: 70px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: bisque;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", sans-serif;
}

/*# sourceMappingURL=style.css.map */
