footer {
  .footer {
    h4:hover {
      color: $lightpurple;
    }
    h5:hover {
      color: $lightpurple;
    }

    i:hover {
      color: $lightpurple;
    }
  }
  .link:hover {
    transform: translate(10px, 0px);
    transform: scale(1.01, 1.01);
  }

  background-color: #60463b;
  color: bisque;
  .footer {
    margin: 0;
    padding: 0;
    
  }
  .botonWhatsApp {
    img {
      width: 70px;
      position: fixed;
      bottom: 10px;
      right: 10px;
    }
  }
}

