main {
  background-color: bisque;
  color: $darkgray;

  .equipo {
    h3 {
      background-color: #60463b;
      color: bisque;
    }
  }

  form{
    fieldset {
    background-color: $darkgray;
    color: bisque;
  }
}
  .secciones {
    color: bisque;
    box-shadow: 5px 9px 11px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
    p {
      text-align: justify;
    }
    background-color: $darkgray;
  }

  .servicios {
    p {
      text-align: justify;
    }
    background-color: white;
    border-radius: 15px;
    padding: 40px;
  }

  .brownBisque {
    background-color: #60463b;
    color: bisque;
  }

  .rebootMargin {
    margin: 0;
  }

  .cardTitle {
    background-color: #60463b;
    color: bisque;
  }

  .products {
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
  
    img {
      border-radius: 30px;
    }
  }

  .cards-wrapper {
    display: flex;
    justify-content: center;
  }
  .card img {
    max-width: 100%;
    max-height: 100%;
  }
  .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
  }
  .carousel-inner {
    padding: 1em;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #e1e1e1;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }

  .tituloSede{
    background-color: #2e3138;
    color: bisque;
}

@media (max-width: 992px) {
  .carousel-item {
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.mision {
    background-color: $darkgray;
    color: bisque;
    width: 80%;
}
.vision {
    background-color: $darkgray;
    color: bisque;
    width: 80%;

}
@media (min-width: 993px) {
  .carousel-item {
    img {
      width: 100%;
      height: 600px;
    }
  }
  .mision {
    background-color: $darkgray;
    color: bisque;
    width: 40%;
}
.vision {
    background-color: $darkgray;
    color: bisque;
    width: 40%;
}
}
@media (min-width: 768px) {
  .card img {
    height: 20em;

  }
}
@media (min-width:769px) and (max-width:1400px){
    .card3{
        display: none!important;
    }
    .card6{
        display: none!important;
    }
    .card9{
        display: none!important;
    }
    .cards-wrapper-products{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .card1{
        width: 40%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card2{
        width: 40%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card4{
        width: 40%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card5{
        width: 40%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card7{
        width: 40%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card8{
        width: 40%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


}
